---
layout: reveal
---

%section
  %section{:"data-state" => "whiteout" }
    %div{:style=>"float: left"}
      %img.splash.screen{:src => "assets/images/JBoss_Forge_logo.png"}
      %img.splash.print{:src => "assets/images/JBoss_Community_logo.png"}
    %div{:style=>"float: right"}
      %img.splash.screen{:src => "assets/images/as7_logo.png"}
      %img.splash.print{:src => "assets/images/as7_logo.png"}
    %div{:style=>"float: left"}
      %img.splash.screen{:src => "assets/images/JBoss_Community_logo.png"}
      %img.splash.print{:src => "assets/images/JBoss_Community_logo.png"}
    %div{:style=>"float: right"}
      %img.splash.screen{:src => "assets/images/openshift_logo.png"}
      %img.splash.print{:src => "assets/images/openshift_logo.png"}
  %section
    %h1.normalcase{:style=>"font-size: 100px;line-height: 1.2em"} Forge Ahead to Productivity with JBoss, Red Hat and OpenShift 
    %ul.intro{:style=>"margin-top: 75px;"}
      %li James R. Perkins
      %li Software Engineer, Red Hat
      %li 
        %a{:href=>"http://pjug.org"} PJUG - 18.Sep.2012
    %ul.notes
      %li Welcome!
  %section
    %h2 
      %a.normalcase{:href=>"http://twitter.com/the_jamezp"} @the_jamezp
    %ul
      %li Core engineer on JBoss Application Server and JBoss Logging

%section
  %section
    %h2 Our Agenda
    %ol
      %li.fragment Create a quick CRUD application
      %li.fragment Run the application locally
      %li.fragment Deploy to the cloud

%section
  %section
    %div{:style=>"margin-top: 200px;"} Getting started
  %section
    %div{:style=>"margin-top: 200px;"} Getting started sucks
  %section
    %div{:style=>"margin-top: 200px;"} Integrating stuff is hard
  %section
    %div{:style=>"margin-top: 75px;"} Repetitive tasks
    %ul{:style=>"margin-left: 100px;"}
      %li.fragment are annoying
      %li.fragment are frustrating
      %li.fragment will make you crazy
  %section
    %h2 So what do we do about it?
  %section{:"data-state" => "whiteout" }
    %img{:src=>"assets/images/googling.png"}
    %ul.notes
      %li We could google it?
  %section{:"data-state"=>"alert"}
    %h1.capitalize No!

%section
  %section{:"data-state" => "whiteout" }
    %img{:src => "assets/images/JBoss_Forge_logo.png"}
    %img{:src => "assets/images/JBoss_Community_logo.png", :style => "float:right; margin-left:300px; margin-top: 150px;", :width=>"250px"}
  %section
    %h2 WTF is JBoss Forge?
    %div{:style=>"margin-top: 125px"} Forge is a core framework for rapid-application development in a standards-based environment. Plugins / incremental project enhancement for Java EE, and more.
  %section
    %div{:style=>"text-align: left;"}
      %span forge $ &nbsp;
      %span get-started &nbsp;
      %span{:style=>"text-decoration:blink;"} &#9608;
    %div.fragment{:style=>"margin-top: 200px;"}
      %a{:href=>"http://www.jboss.org/tools"} JBoss Tools (http://www.jboss.org/tools)
    %ul.notes
      %li @XmlTransient must go on getter methods
      %li rest setup
      %li rest endpoint-from-entity
      %li
        %pre{:class => "prettyprint", :style => "font-size: 8px"}
        %code{:id => "multiple_page_elements"}
          :escaped 
            Add some code

%section
  %section
    %a{:href=>"https://openshift.redhat.com/"}
      %img{:src=>"assets/images/openshift_logo.png"}
  %section
    %h2 What is OpenShift?
    %div OpenShift is Red Hat's PaaS offering.
    %div{:style=>"margin-top: 25px;"} You can write code in:
    %ul
      %li Java (JBoss AS 7 or EAP 6)
      %li Ruby (TorqueBox)
      %li Node.js
      %li Python
      %li PHP
      %li Perl
    %div{:style=>"margin-top: 25px;"}
      %a{:href=>"https://openshift.redhat.com/"} https://openshift.redhat.com/
  %section
    %div{:style=>"text-align: left;"}
      %span rhc $ &nbsp;
      %span get-started &nbsp;
      %span{:style=>"text-decoration:blink;"} &#9608;
    %ul.notes
      %li rest setup
      %li rest endpoint-from-entity
      %li
        %pre{:class => "prettyprint", :style => "font-size: 8px"}
        %code{:id => "multiple_page_elements"}
          :escaped 
            Add some code  

%section
  %section
    %div{:style=>"text-align: left;"}
      %span forge $ &nbsp;
      %span plugins &nbsp;
      %span{:style=>"text-decoration:blink;"} &#9608;
    %ul.notes
      %li Write a deprecate-plugin  

%section
  %section{:"data-state"=>"whiteout"}
    %img{:src=>"assets/images/what_happened.png", :style=>"position: absolute; bottom: 0px; left: 0px; border-bottom: 3px solid #888;"}
  %section
    %h2{:style=>"margin-bottom: 150px;"} We used PLUGINS!
    %img{:src=>"assets/images/jsf_logo.png", :width=>"250px;"}
    %img{:src=>"assets/images/as7_logo.png", :width=>"150px;"}
    %img{:src=>"assets/images/openshift_logo.png", :width=>"150px;"}
  %section{:"data-state"=>"whiteout"}
    %h2{:style=>"color:#3c3c3c;"} Wrote PLUGINS!
    %img{:src=>"assets/images/plugins_facets.png"}
  %section
    %h2 We deployed to the CLOUD!
    %img{:src=>"assets/images/overview-paas.png"}

%section
  %h2 The end?
  %h3.fragment{:style => "margin-top: 160px"} The beginning - of your adventure with Forge!
%section
  %h2 Credits
  %center
    %p
      %a{:href => "http://jboss.org/"} http://jboss.org/
    %p
      %a{:href => "http://ocpsoft.org/"} http://ocpsoft.org/
    .links.commons
      :plain
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Forge Ahead to Productivity with JBoss, Red Hat and OpenShift</span> by James R. Perkins (stolen from <a xmlns:cc="http://creativecommons.org/ns#" href="http://ocpsoft.org/" property="cc:attributionName" rel="cc:attributionURL">Lincoln Baxter</a>) is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/jamezp/talks/tree/master/pjug/Sep-2012" rel="dct:source">github.com</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/jamezp/talks/tree/master/pjug/Sep-2012" rel="cc:morePermissions">https://github.com/jamezp/talks/tree/master/pjug/Sep-2012</a>.
%section
  %h2{:style=>"margin-bottom:100px;"} Additional Resources
  .left.resources
    %p Quickstarts and guides:
    %ul.links
      %li
        %a{:href => "http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/"} JBoss Developer Framework Quickstarts
      %li
        %a{:href => "http://arquillian.org/guides/get_started_faster_with_forge/"} Arquillian: Get started faster with Forge
      %li
        %a{:href => "http://forge.jboss.org/docs/plugin_development/"} Forge plugin-writing guide

%section
  %h2 Stay in the loop
  %ul.links.loop
    %li
      JBoss Community:
      %a{:href => "https://community.jboss.org/"} https://community.jboss.org/
    %li
      Forge website:
      %a{:href => "http://forge.jboss.org"} http://forge.jboss.org
    %li
      JBoss Application Server 7:
      %a{:href => "http://www.jboss.org/jbossas"} http://www.jboss.org/jbossas
    %li
      OpenShift:
      %a{:href=>"https://openshift.redhat.com/"} https://openshift.redhat.com/
    %li
      Vimeo feed:
      %ul
        %li
          %a{:href => "https://vimeo.com/channels/jboss"} https://vimeo.com/channels/jboss
        %li
          %a{:href => "https://vimeo.com/channels/jbossforge"} https://vimeo.com/channels/jbossforge
    %li
      IRC: 
      %ul
        %li
          %a{:href=>"http://webchat.freenode.net?channels=jboss"} #jboss
        %li
          %a{:href=>"http://webchat.freenode.net?channels=forge"} #forge
        %li
          %a{:href=>"http://webchat.freenode.net?channels=openshift"} #openshift
  %p{:style => "margin-top: 25px" } Get involved:
  %ul.links
    %li
      Pick a project:
      %a{:href => "http://www.jboss.org/projects"} http://www.jboss.org/projects
%section
  %h1{:style=>"margin-top: 200px;"} Be Productive!
